<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Location</th>
		<th>Rating</th>
		<th colspan="4"></th>
	</tr>
	<tr>
		<td><%= @place.name %></td>
		<td><%= @place.description %></td>
		<td><%= @place.location %></td>
		<td><%= @place.rating %></td>
	</tr>
</table>
<h2>Comments</h2>
<%= render @place.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', places_path %>